{% include "indexOrigin.html" %}




<body>
    <br>
    <br>
    <h1>Escolha Com Quem Será Hoje:</h1> <br> <br>


    <div class="containerr">
        <div class="row">
            <div class="box" onclick="location.href='valor.html';">
                <img src="https://i.pinimg.com/564x/4f/91/50/4f9150be74f7b37d8d6937c2404ec7df.jpg" alt="Imagem 1">
                <div class="info">
                    <h2>Gorila</h2>
                    <p>Somente Corte Militar e Raspagem de Barba</p>
                </div>
            </div>
            <div class="box" onclick="location.href='valor.html';">
                <img src="https://i.pinimg.com/564x/84/de/cc/84deccd53b1837e893e673b674288997.jpg" alt="Imagem 2">
                <div class="info">
                    <h2>Leão</h2>
                    <p>Barba na Tesoura, Especializado em Cabelos Longos</p>
                </div>
            </div>
            <div class="box" onclick="location.href='valor.html';">
                <img src="https://i.pinimg.com/736x/b4/78/61/b4786140a4f52912f51961448fb11d2b.jpg" alt="Imagem 3">
                <div class="info">
                    <h2>Onça </h2>
                    <p>Apenas Bigodes Finos e Cortes de Cria</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box" onclick="location.href='valor.html';">
                <img src="https://i.pinimg.com/564x/fc/d2/86/fcd28630387a2e2f98640d4990c3d22c.jpg" alt="Imagem 4">
                <div class="info">
                    <h2>Tigre</h2>
                    <p>Tinge Cabelo, Maquininha e Barba</p>
                </div>
            </div>
            <div class="box" onclick="location.href='valor.html';">
                <img src="https://i.pinimg.com/564x/ce/80/19/ce8019233747eb949abfef443cfc0ed7.jpg" alt="Imagem 5">
                <div class="info">
                    <h2>Lacoste</h2>
                    <p>Apenas o Calvou, Classico e Reverso</p>
                </div>
            </div>
            <div class="box" onclick="location.href='valor.html';">
                <img src="https://i.pinimg.com/564x/e3/6a/04/e36a04e7e93e24aa122585559920a7b9.jpg" alt="Imagem 6">
                <div class="info">
                    <h2>Doberman</h2>
                    <p>Cortes Americanos, Classicos, Tranças e Barba Completa</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>